{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}

<!-- <a href="{% url 'blog:all_blogs' %}">Blogs</a> -->
<div class="hero m-4">
    <h1 class="display-2">Chandrakant
        <small class="text-muted display-2">Salutagi</small>
    </h1>
</div>

<div class="profile_pic mb-4 mt-1">
    <img class="rounded mx-auto d-block" src="{% static 'portfolio/images/chandu.jpg' %}" alt="profile picture"
        width="350">
</div>

<div class="intro text-center">
    <p class="display-4 role"><u>Software Developer</u></p>
    <small class="h4 font-weight-normal">Tech Enthusiast, Vivid Learner, Problem Solver</small>
    <p>Experience in Web Devlopement, Automation and Analysis Scripts</p>
    <p class="h4 font-weight-normal">Python, Django, Git, Linux, JIRA, HTML, CSS, Javascript</p>
</div>

<hr class="mt-2 mb-3" />

<div class="projects m-4">
    <h2 class="display-4 text-center">Projects</h2>

    <div class="container">
        {% for project in projects %}
        <div class="project m-3">
            <div class="card border-dark h-100">
                <img class="card-img-top" src="{{ project.image.url }}" alt="project image" width="300" height="200">

                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.description }}</p>
                    {% if project.url %}
                    <a href="{{ project.url }}" class="btn btn-primary">Source Code</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

<div class="footer">
    <div class="m-4 text-center">Contact: salutagic@gmail.com
    </div>
</div>
{% endblock content %}