{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}

<!-- <a href="{% url 'blog:all_blogs' %}">Blogs</a> -->
<div class="hero m-4">
    <h1 class="display-2">Chandrakant's
        <small class="text-muted display-2">Portfolio</small>
    </h1>
</div>

<div class="profile_pic mb-4 mt-1">
    <img class="rounded mx-auto d-block" src="{% static 'portfolio/images/chandu_bw.jpg' %}" alt="profile picture"
        width="350">
</div>

<hr class="mt-2 mb-3" />

<div class="projects m-4">
    <h2 class="display-4 text-center">Projects</h2>

    {% for project in projects %}
    <div class="project m-3">
        <!-- <h2>{{ project.title }}</h2>
        <p>{{ project.description }}</p>
        <img src="{{ project.image.url }}" alt="project image" width="120" height="75">
        {% if project.url %}
        <a href="{{ project.url }}">image url</a>
        {% endif %} -->

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ project.image.url }}" alt="project image">

            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                {% if project.url %}
                <a href="{{ project.url }}" class="btn btn-primary">Source Code</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock content %}